<h2>Login to Skincare Central<h2>

<%= form_for :user, url: login_path, method: :post do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Login" %>
<% end %> 
<br>

<h2>Or Login Using Google:</h2><br>
<%= button_to "Login with Google", '/auth/google_oauth2' %>