<%= form_for @review do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>

    <h4>Select a Product:</h4>
    <%= f.collection_select :product_id, Product.all, :id, :name, {include_blank: true} %>

    <h4>Or Create a Product:</h4>
    <%= fields_for :product do |p| %>
        <%= p.label :name %>
        <%= p.text_field :name %>
        <%= p.label :category %>
        <%= p.text_field :category %>
        <%= p.label :brand %>
        <%= p.text_field :brand %>
        <%= p.label :price %>
        <%= p.text_field :price %>
    <% end %>

    <h4>Create a Review:</h4>
    <%= f.label :rating %>
    <%= f.text_field :rating %><br>
    <%= f.label :image %>
    <%= f.text_field :image %><br>
    <%= f.label :review_body, "Review:" %>
    <%= f.text_area :review_body %><br><br>
    <%= f.submit "Submit" %>

<% end %>

