<%= form_for(@review) do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <% if params[:product_id] %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <h3>Product: <%= @product.name %></h3>
    <% else %>
        <h4>Select a Product:</h4>
        <%= f.collection_select :product_id, Product.all, :id, :name, {include_blank: true} %>
    <% end %>

    <h4>Create a Review:</h4>
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select(Review::RATING), {include_blank: true} %><br><br>
    <%= f.label :review_body, "Review:" %>
    <%= f.text_area :review_body %><br><br>
    <%= f.submit "Submit" %>

<% end %>

