<h2><%= @review.product.name %></h2>
<%= @review.rating %> - <%= @review.review_body %>
<br><br>
<% if current_user.id == @review.user_id %>
    <%= link_to "Edit Review", edit_review_path(@review) %>
    <br><br>
    <%= link_to "Delete Review", review_path(@review), method: :delete %>
<% end %>