<!DOCTYPE html>
<html>
  <head>
    <title>SkincareCentral</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
    <div class="navbar-left">
      <%= link_to "See all Reviews", reviews_path %> | 
      <%= link_to "See all Products", products_path %> | 
      <%= link_to "See Products by Category", product_category_path %> |
      <% if logged_in %>
        <%= link_to "Create New Product", new_product_path %> | 
        <%= link_to "Create New Review", new_review_path %> |
        <%= link_to "My Profile", user_path(current_user) %> |
        <%= link_to "Log Out", logout_path, method: :post %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %> | 
        <%= link_to "Log In", login_path %> 
      <% end %>
    </div>
    <br>
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
    <h1>Skincare Central</h1>
    <h4>The Place to Find your Best Skincare</h4>

    <%= yield %>
  </body>
</html>
